<div id="list-example" class="list-group">
<h1>All hints</h1>

<ul id="hints">
  <% @hints.each do |hint| %>
  <div class="hint_list">
    <li><%= link_to hint.title + " by " + User.find(hint.user_id).username, hint_path(hint), class:"list-group-item list-group-item-action" %>
    </li>
    <% if logged_in? %>
  <button class="<% if Like.where(hint_id: hint.id, user_id: current_user.id).length < 1 %>btn btn-light<% else %>btn btn-danger<% end %>" id="<%= hint.id %>"><i class="fa fa-thumbs-up"></i>like</button>
  <input type="hidden" value="<%= Like.where(hint_id: hint.id).length %>" id="amountOfLikes<%= hint.id %>">
  <span id="likesTotal<%= hint.id %>"><%= Like.where(hint_id: hint.id).length %></span>
  <% end %> 
  <% end %> 
</ul>
</div>
<% if logged_in? %>
  <%= link_to "leave a hint", new_hint_path, class:"badge badge-success" %>
  <% end %> 

<script type="text/javascript">
  var likeButtons = $('.btn');

  for (var i = 0; i < likeButtons.length; i++) {
    likeButtons[i].addEventListener('click', likeButtonClicked);
  }
  function likeButtonClicked () {
    var hintId = $(this).attr('id');
    if ($(this).attr('class') == 'btn btn-light') {
    $(`#likesTotal${hintId}`).text(Number($(`#likesTotal${hintId}`).text()) + 1);
    this.setAttribute('class', 'btn btn-danger');
    
    var options = {
      url: '/likes',
      method: 'post',
      data: { hint_id: hintId}
    };
    $.ajax(options).done(function (res) {
      console.log(res);
    });
    } else {
      this.setAttribute('class', 'btn btn-light');
      $(`#likesTotal${hintId}`).text(Number($(`#likesTotal${hintId}`).text()) - 1);
      var option = {
      url: '/likes/' + hintId,
      method: 'delete',
      data: { hint_id: hintId}
      };
      $.ajax(option).done(function (res) {
        console.log(res);
      });
    }
  }
</script>