  <h1><%= @hint.title %></h1>
  <p><%= @hint.body %></p>
  <img src="<%= @hint.image_url%>">
  <br>
  <%= link_to "<< Back to all hints", hints_path %>
  <br>

  <% if logged_in?
      if  @current_user.id === Hint.find(params[:id])[:user_id] || @current_user.id === 1 %>
  <%= link_to "edit", edit_hint_path(@hint) %>

  <%= link_to "delete", hint_path(@hint), method: :delete %>
  <% end %>
  <% end %>

  <% if logged_in? %>
  <form action="/hint?hint=<%= @hint.id %>&comment=<%= @current_user.id%>" method="post">
    <input type="text" name="body" value="<%= @text %>">
    <button>leave your comment</button>
  </form>
  <% end %> 

  <% @comments.each do |comment| %>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if comment.user_id === 1 %>
        <div class="<%= "admin" %>">
          <strong><%= comment.author_name %></strong>
        </div>
        <% else %>
        <strong><%= comment.author_name %></strong>
        <% end %>
        <span class="text-muted"><%= comment.created_at %></span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
      </div>
    </div>
    <% if logged_in? %>
    <% if current_user.username == comment.author_name || current_user.id === 1 %>
    <form action="/comment/delete?id=<%= comment.id %>&hint=<%= comment.hint_id %>" method="post">
    <input type="hidden" name="_method" value="delete">
      <button>delete</button>
    </form>
    <a href="/hints/<%= comment.hint_id %>?comment=<%= comment.id %>">edit</a>
    <% end %>
  </div>
  <% end %>
  <% end %>
